.favourites-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2fdff42;
  height: 90vh;
}

.favourites-title {
  margin-top: 20px;
  font-size: 65px;
  font-weight: 700;
  text-align: center;
}

.favourites-sub-title {
  text-align: center;
  margin-left: 5px;
    margin-right: 5px;
}

.favourites-cities-grid {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  column-gap: 5%;
  row-gap: 5%;
  justify-content: center;
  width: 90%;
  margin-top: 60px;
}

.favourite-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.favoutire-button-favourite-page {
  position: relative;
  top: 100px;
}

.favourite-link {
  text-decoration: none;
}

/* Samsung Galaxy S5 Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .favourites-cities-grid {
    display: block;
  }

  .favourites-title {

    font-size: 60px;

  }
}
