.city-data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: 450;
  text-shadow: 0.1px 0.1px 3px #cdf4ff;
}

.city-data-wrapper-favorite {
  color: black;
  background-color: #baf4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 38px;
  padding-top: 110px;
  border-radius: 2px;
  outline-style: auto;
  outline-color: #212529;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 40px;
}

.city-data-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-data-card-favorite {
  color: black;
  background-color: #baf4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.city-data-wrapper-favorite:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.city-name-favorite {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.city-name {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.temperature-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 20px;
}

.current-weather-img {
  width: 70px;
  height: 100px;
  margin-right: 10px;
  position: relative;
  bottom: 10px;
  z-index: 1;
}

.fav-weather-img {
  width: 60px;
  height: 80px;
  margin-right: 10px;
  position: relative;
  bottom: 10px;
}

/* Samsung Galaxy S5 Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .temperature-desc {
    padding-bottom: 20px;
  }
}
