.cards-container {
  display: flex;
  flex-direction: row;
  width: 94%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.weather-card {
  width: 20%;
  height: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background: #91edffd9;
  padding: 20px 15px 15px;
  border-radius: 4px;
  outline-style: auto;
  outline-color: #212529;
  border: black;
}

.temperature-range {
  margin-top: 20px;
}

.weather-desc {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.weather-desc > img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.weather-desc > p {
  padding-top: 10px;
}

/* Samsung Galaxy S5 Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .cards-container {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    width: 80%;
  }

  .weather-card {
    width: 100%;
  }
}
