.favorites-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2fdff42;
  height: 90vh;
}

.favorites-title {
  margin-top: 20px;
  font-size: 65px;
  font-weight: 700;
  text-align: center;
}

.favorites-sub-title {
  text-align: center;
  margin-left: 5px;
    margin-right: 5px;
}

.favorites-cities-grid {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  column-gap: 5%;
  justify-content: center;
  width: 90%;
}

.favorite-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.favoutire-button-favorite-page {
  position: relative;
  top: 100px;
}

.favorite-link {
  text-decoration: none;
}

/* Samsung Galaxy S5 Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .favorites-cities-grid {
    display: block;
    row-gap: 20px;
    grid-template-columns: 1fr;
    row-gap: 0px;
  }

  .favorites-title {

    font-size: 60px;

  }
}
